
target/
dbt_packages/
logs/

duckdb/

# DuckDB files
*.duckdb
*.duckdb.wal
*.db

# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Database
*.duckdb
*.db

# Streamlit
.streamlit/

# OS
.DS_Store
